<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <br>
  <input id="reply-body" style="background-color: darkgray;" placeholder="A snarky reply"></input><br><br>
  <button id="replyButton">Send</button>
  <div class="replies"></div>
</div>
<script src="/js/reply.js"></script>