<div class="row">
  <div class="col-auto">
    <h2>Welcome back to your profile: {{name}}!</h2>
  </div>
</div>
<div>
<input id="post-title" placeholder="Title of your post"></input><br>
<input id="post-desc" placeholder="Description"></input><br>
<br>
<button id="newPost">Post!</button>
</div>
<script src="./js/profile.js"></script>
