<div class="row">
  <div class="col-auto">
    <h2>Welcome back to your profile: {{name}}!</h2>
  </div>
</div>
<div>
<input id="post-title" style="background-color: darkgray;" placeholder="Title of your post"></input><br>
<input id="post-desc" style="background-color: darkgray;" placeholder="Description"></input><br>
<br>
<button style="background-color: darkgray;" id="newPost">Post!</button>
</div>
<script src="./js/profile.js"></script>
